*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #faf5f5;
}

.container {
    position: relative;
}

.container .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .overlay {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.container .title h2 {
    margin-top: 15px; 
    padding: 40px;
    font-size: 65px;
    color: #3A6B35;
}

.container .description h3 {
    margin-top: 20px; 
    font-size: 25px;
    color: white;
}

.container .search {
    margin-top: 60px; 
}


.container .search input {
    padding: 15px 90px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container .search input:focus {
    background-color: #CBD18F;
}

.container .search button {
    font-size: 1.2em;
    padding: 12px 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #f8f8f8;
    color: black;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.container .search-btn:hover {
    background-color: #CBD18F;
}


.add-new h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    color: #3A6B35;
}


.add {
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px; 
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add :hover {
    background-color: #CBD18F;
}

.add input {
    display: block;
    width: 100%;
    margin-bottom: 15px; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

#ingredients {
    height: 130px; 
}

#method {
    height: 180px; 
}

.add button {
    font-size: 1.2em;
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #CBD18F;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#recipe-list {
    display:inline; 
    max-width: 200px;
    margin-left: 20px;
    padding: 20px;
}
  

.recipe {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    margin-bottom: 20px;
  }
  
.recipe h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
.recipe ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.recipe ul li {
    margin-bottom: 5px;
  }


.delete-btn {
    background-color: #CBD18F;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  
.delete-btn:hover {
    background-color: #CBD18F;
  }

















